#================================================
# gitignore
#================================================

/**/.cproject
/**/.project
/**/.settings/
/**/tmp/

#================================================
